@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">
                    <div class="content has-text-centered">
                        <h1 class="title">Demonstração de CRUD</h1>
                        <p class="subtitle">Este projeto é uma demonstração de operações CRUD (Create, Read, Update, Delete) utilizando ASP.NET Core.</p>
                        <p>O layout da aplicação foi desenvolvido com o Bulma, o mais atual framework CSS que facilita a criação de layouts modernos e responsivos.</p>
                        <p>Explore a aplicação para ver como o Bulma é utilizado para criar uma interface limpa e funcional, enquanto o ASP.NET Core lida com a lógica de backend e manipulação de dados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
