/* Define a altura mínima do body para ocupar 100% da tela */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #f5f5f5;
    padding: 2rem;
}

/* O conteúdo principal deve crescer para ocupar o espaço disponível */
.content {
    flex: 1;
}

/* Modo Escuro */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

    .dark-mode .navbar,
    .dark-mode .footer {
        background-color: #1e1e1e;
        color: #ffffff;
    }

    .dark-mode .sidebar {
        background-color: #1e1e1e;
    }

    .dark-mode a {
        color: #4f8ef7;
    }

/* Outros estilos podem ser adicionados aqui conforme necessário */


/* Custom styles */
/* Estilos para o menu lateral */
/* Estilos para a navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Garante que a navbar fique acima do aside */
}

/* Estilos para o menu lateral */
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: left 0.3s ease;
    z-index: 999; /* Garante que o sidebar fique abaixo da navbar */
}

    .sidebar.open {
        left: 0;
    }

/* Estilos para o conteúdo principal */
#main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    padding: 20px;
}

.navbar-menu {
    margin-left: 250px; /* Espaço para o menu lateral */
}

/* Oculta o ícone em telas maiores */
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
}

@media (min-width: 768px) {
    .sidebar {
        left: 0; /* Exibe o menu lateral em telas maiores */
    }

    .menu-icon {
        display: none; /* Oculta o ícone em telas maiores */
    }

    #main-content {
        margin-left: 250px; /* Ajusta o conteúdo principal para exibir ao lado da sidebar */
    }

    .navbar-menu {
        margin-left: 0; /* Remove o espaço para o menu lateral em telas maiores */
    }
}

/* Ajusta o layout para telas menores */
@media (max-width: 768px) {
    #main-content {
        margin-left: 0; /* Remove o espaço para o menu lateral em telas menores */
    }

    .navbar-menu {
        margin-left: 0; /* Remove o espaço para o menu lateral em telas menores */
    }
}

/* O rodapé deve ficar fixo na parte inferior da página */
.custom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    padding: 10px 0;
    background-color: #f8f9fa;
    z-index: 1000;
}